apiVersion: apps/v1
kind: Deployment
metadata:
  name: lanchonete-api
spec:
  replicas: 2
  selector:
    matchLabels:
      app: lanchonete-api
  template:
    metadata:
      labels:
        app: lanchonete-api
    spec:
      containers:
        - name: api
          image: lanchonete_app
          imagePullPolicy: IfNotPresent
          ports:
            - containerPort: 8080
          envFrom:
            - configMapRef:
                name: app-config
            - secretRef:
                name: app-secrets
          readinessProbe:
            httpGet:
              path: /api/actuator/health
              port: 8080
            initialDelaySeconds: 5
            periodSeconds: 10
