apiVersion: v1
kind: Secret
metadata:
  name: app-secrets
type: Opaque
data:
  DATABASE_USER: YWRtaW4=         # admin
  DATABASE_PASSWORD: YWRtaW4=     # admin
  JWT_SECRET: M3hWRzljSkhtTGxZbEpiNE9uY1BWREx0TzNjVkJMWFNueDExTzBkUVFMR3RRbmpmSmZrT3B3Q0dJVkQ3YXZ0YTZSaHhMdkFWcUxseDVHbzZxUnoybUtqWnNCSDU0c0wzdmhZNkhRRkc0SEJOZVVUcTBtd1l6Y1FCWWVYc0Fwd1A=
